import(methods)
import(oro.nifti)
import(fslr)
import(WhiteStripe)
import(pbapply)

export(preprocessRAW)
export(preprocessRAVEL)
export(preprocessWS)
export(mask_intersect)
export(oro2ants)
export(ants2oro)
export(tempants)
export(clean_reg_files)